:root 
    {
        --green: #009900;
        --red: #e70001;
        --seed: #420200;
    }
/* Playground item box */
.playground-item {
     background: rgba(255,255,255,0.03);
  border: 1px solid rgba(0, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1rem;
}

/* Watermelon styling (contained inside item) */
.watermelon {
    position: relative;
    height: 200px;   /* smaller so it fits */
    width: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.cut-1 {
    position: relative;
    height: 100px;
    width: 170px;
    left: 30%;
    top: 40%;
    border-radius: 50%;
    transform: rotate(45deg);
    background-color: var(--red);
}
.cut-1::after {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    top: -15%;
    border-bottom: 60px solid var(--green);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* Seeds */
.seed1, .seed2, .seed3, .seed4, .seed5, .seed6, .seed7 {
    height: 10px;
    width: 10px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: var(--seed);
    /* position: absolute; */
}
.seed1 { position: absolute; left: 50%; top: 40%; }
.seed2 { position: absolute; left: 48%; top: 42%; }
.seed3 { position: absolute; left: 45%; top: 40%; }
.seed4 { position: absolute; left: 40%; top: 35%; }
.seed5 { position: absolute; left: 43%; top: 38%; }
.seed6 { position: absolute; left: 43%; top: 47%; }
.seed7 { position: absolute; left: 51%; top: 46%; }

.cut-2 {
    position: relative;
    height: 100px;
    width: 200px;
    left: 30%;
    top: 40%;
    border-radius: 50%;
    transform: rotate(-130deg);
    background-color: var(--green);
    animation: slice 5s ease-in-out infinite;
}
.cut-2::after {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    top: -15%;
    border-bottom: 20px solid var(--green);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

/* Animation */
@keyframes slice {
    from { left: 30%; top: 40% }
    to   { left: 45%; top: 50% }
}
